html {
    text-transform: full-width;
    font-family: monospace;
    /*
    background-color: #208c71;
    */
    background-color: #008080;
}

nav {
    line-height: 1.8em;
}

a {
    text-decoration: none;
    background-color: #818181;
    color: black;
}

.ulOS {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.liOS {
    display: inline;
}
