@font-face {
  font-family: 'IBM PS/55';
  src: url(Web437_IBM_PS-55_re.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'IBM PS/55', monospace, sans-serif;
}

body {
  background-color: #efefef;
  font-size: 13px;
}

p {
  max-width: 800px;
  margin: 10px auto;
  padding: 0;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  transform: skew(40deg)rotate(-10deg)rotateX(50deg)translate3d(0, 0, 0);
   -webkit-perspective: 100px;
    perspective: 100px;
}

ul {
  float: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  display: block;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

table {
  width: 100%;
  max-width: 400px;
  margin: 0;
  font-size: 13px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

.n2 {
  padding-left: 10px;
}

ol.b {
  padding: revert;
  margin: 20px;
}

li.b {
  display: list-item;
  list-style-position: outside;
  list-style-type: "✝";
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flc {
  width: 100px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.frc {
  max-width: 400px;
  margin: 0;
  padding: 69px;
}

.fnc {
  margin: 4px;
  padding: 69px;
}
