body {
	background-color: #000000EE;
	color: Grey;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	font-size: 15px;
}
table td + td { 
	border-left:1px solid DimGrey;
	padding: 0 15px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
}

.contact a:link,
.contact a:visited,
.contact a:active {
	text-decoration: none;
	color: Grey;
}
.contact a:hover {
	text-decoration: none;
	color: FloralWhite;
}
.contact table {
	margin-left: auto;
	margin-right: auto;
}
.contact td { 
	border: none;
	text-align: left;
	padding: 2px;
}

.topnav a:link,
.topnav a:visited {
	text-decoration: none;
	color: Grey;
}

.topnav a:hover,
.topnav a:active {
	text-decoration: none;
	color: FloralWhite;
}

.carpart {
	text-align: left;
}

.about {
	margin-left: auto;
	margin-right: auto;
	max-width: 666px;
}

.workstable {
	max-width: 888px;
	margin-left: auto;
	margin-right: auto;
}
